.loader{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 6px dashed rgb(54, 26, 26);
    animation: rotate 3s infinite linear ;
}

@keyframes rotate {
    from{
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.4);
    }
}